NEXTJS_ENV=development
# API_URL=
# API_INTERNAL_KEY=
# BILLING_DATABASE_URL=
# BILLING_API_876_KEY=
# BILLING_INTERNAL_KEY=
# BILLING_OAUTH_ISSUER=
# SESSION_COOKIE_SECRET=
# WIDGETS_API_URL=
# WIDGETS_SERVICE_KEY=
