API_URL=http://localhost:4000
NEXT_PUBLIC_CRM_URL=http://localhost:3007
NEXT_PUBLIC_APP_URL=http://localhost:3000
CRM_API_876_KEY=
API_INTERNAL_KEY=
SESSION_COOKIE_SECRET=
SESSION_COOKIE_NAME=876-session
